/* ----------------MENU PAGE ----------------------------- */
#menu-page {
    /* border: 2px solid red; */
    padding: 2em;
    color: whitesmoke;
  }
  #menu-page h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1.5em;
    font-family: 'Lobster', sans-serif;
    color: #d65106;
    
  }
  
  .menu-catalog {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  
 